@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#mobile-nav-toggle {
  display: none;
}

#header-lines {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#header-lines div {
  flex-grow: 1;
  height: 5px;
}

#line-1 {
  background-color: #4baf47;
}

#line-2 {
  background-color: #c5ce38;
}

#line-3 {
  background-color: #eec044;
}

#social-header {
  width: clamp(100%, 60%, 20%);
  height: 5rem;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

#social-header img {
  height: 3.5rem;
}

#social-media-area {
  display: flex;
  align-items: center;
  width: 100%;
}
.social-media-rounded {
  width: 2rem;
  height: 2rem;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: white;
}

.social-media-rounded i {
  color: white;
}

.social-media-rounded:hover {
  background-color: #4baf47;
}

#social-media-area {
  display: flex;
  margin-left: 1rem;
  width: auto;
}

#social-media-area ul {
  list-style-type: none;
  gap: 1rem;
  display: flex;
}

#social-media-area li {
  display: inline;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

#header-social-info {
  display: flex;
}

#header-social-info ul {
  list-style-type: none;
  gap: 1rem;
  display: flex;
  width: auto;
}

#header-social-info li {
  display: inline;
}

.info-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-card img {
  padding: 0.5rem;
}

.info-card div {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.info-card div h3 {
  height: 0.2rem;
  color: #878680;
}

.info-card div h1 {
  height: 2rem;
  font-size: 1.2rem;
  color: #1f1e17;
}

#secondary-header {
  display: flex;
  justify-content: center;
  background-color: #f8f7f1;
  width: 100%;
  height: 4rem;
}

#secondary-header ul {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 1.5rem;
  width: 60%;
}

#secondary-header li {
  display: inline;
}

#secondary-header li a {
  font-size: 0.75rem;
  color: #878680;
  text-decoration: none;
}

#landing-banner {
  background-color: #ceb215;
  width: auto;
  height: 40rem;
  display: flex;
  justify-content: center;
  background-image: url("https://i.ibb.co/qnZK4Cg/image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#land-info-area {
  position: relative;
  width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 7rem;
  color: white;
}

#land-info-area h1 {
  font-size: clamp(1rem, 5rem, 4rem);
}

.title-with-decoration {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.orange-button {
  background-color: #f7c35f;
  color: white;
  height: 5rem;
  width: 8rem;
  text-decoration: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  transition: background-color 0.3s ease;
}

.orange-button:hover {
  background-color: #c5902e;
}

.green-button {
  display: flex;
  background-color: #4baf47;
  color: #ffffff;
  border-radius: 0.5rem;
  text-decoration: none;
  height: 4rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.green-button:hover {
  background-color: #286926;
}

#landing-banner img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 10rem;
  margin-right: 1rem;
}

#information-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info-area-below {
  border-radius: 0.5rem;
  height: 6rem;
  width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  background-color: #ffffff;
  box-shadow: -1px 3px 0.5rem;
}

#info-area-below ul {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.info-card-2 {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 2;
}

.info-card-2 img {
  height: 3rem;
  width: 3rem;
}

.info-card-2 div {
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  align-self: center;
}

.info-card-2 div h3 {
  font-size: clamp(0.2rem, 1.2rem, 0.7rem);
  color: #1f1e17;
}

.info-card-2 div h1 {
  font-size: clamp(0.2rem, 1.2rem, 1rem);
  color: #878680;
}

#text-area-1 {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

#text-area-1 h3 {
  grid-column: 1 / 2;
  grid-row: 1;
  color: #eec044;
}

#text-area-1 h1 {
  grid-column: 1 / 2;
  grid-row: 2;
  font-size: 3rem;
}

#text-area-1 p {
  grid-column: 1 / 2;
  grid-row: auto;
  margin: 1rem 0;
}

#text-area-1 img {
  grid-column: 2 / 2;
  grid-row: 1 / span 4;
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
}

#text-area-1 .green-button {
  grid-column: 1 / 2;
  grid-row: auto;
}

#decoration-image-1 {
  width: 100%;
  margin-bottom: -1rem;
}

#decoration-image-2 {
    width: 100%;  
}

#text-area-2 > div {
  background-color: #e9f1ee;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/nCnT1jW/image.png");
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: right top;
}

#text-area-2 > div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#text-area-2 > div > h1 {
  text-align: center;
  font-size: 2rem;
}

#text-area-2 > div > h2 {
  text-align: center;
  color: #49a760;
  font-family: "Yellowtail", cursive;
}

#text-area-2 > div > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-info-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 20rem;
  align-items: center;
}

.card-info-2 img {
  width: 5rem;
  background-color: #e9f1ee;
  border-radius: 0.2rem;
  justify-self: center;
}

#product-area {
  display: flex;
  background-color: #f8f7f0;
  width: 100%;
  height: clamp(10rem, 50rem);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

#product-area h2 {
  margin-top: 1rem;
  color: #eec044;
  font-family: "Yellowtail", cursive;
}

#product-cards-area {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.product-card {
  width: 20rem;
  height: 30em;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 0.5rem;
}

.product-card > img {
  width: 20rem;
  height: 15rem;
}

.product-card .p-card-image {
  background-color: #4baf47;
  border-radius: 0.5rem;
  margin-top: -2rem;
  margin-left: 14rem;
}

.product-card .p-card-image > img {
  width: 4rem;
}

.product-card > h1 {
  align-self: self-start;
}

#events-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#area-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3rem;
  justify-content: center;
}

.main-image {
  margin-right: 10rem;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-header {
  align-self: right;
  text-align: right;
  margin-bottom: 20px;
}

.event-header > h2 {
  text-align: right;
  color: #7eb693;
  font-family: "Yellowtail", cursive;
}

.event-header > h1 {
  font-size: 2rem;
}

.info-events-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35rem;
}

.info-events-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-events-card div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-right: 1.5rem;
}

.info-events-card h5 {
  font-size: 1.3rem;
  font-weight: 1000;
}

.info-events-card p {
  text-align: right;
}

.info-events-card img {
  max-width: 4rem;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.green-background {
  background-color: #4baf47;
}

.orange-background {
  background-color: #eec044;
}

.yellow-background {
  background-color: #c5ce38;
}

.historia {
  display: inline-block;
  padding: 2rem;
  align-items: center;
  display: grid;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

#parte-historia {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%
}

.historia img {
  float: right;
  max-width: 400px;
  border-radius: 8px;

  width: 100%;
  height: auto;
}

.historia-content {
  max-width: 600px;
}

.historia h1 {
  color: #eec044;
  font-family: yellowtail;
  font-size: 58;
  grid-row: auto;

  grid-column: 2 / 3; 
}

.historia h2 {
  font-family: roboto;
  font-weight: 900;

  grid-row: auto;

  grid-column: 2 / 3; 
}

.historia p {
  font-family: mulish;
  font-size: 30;
  color: #1f1e17;

  grid-row: auto;
  margin: 1rem 0;
  grid-column: 2 / 3; /* Texto na segunda coluna */
}

.nomes {
  float: left;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  grid-column: 2 / 3; /* Texto na segunda coluna */
}

.nome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: manrope;
}

.nome-box-green {
  background-color: #e3f2fd;
  padding: 50px 50px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background-color: #4caf50;
}

.nome-box-yellow {
  background-color: #e3f2fd;
  padding: 50px 57px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background-color: #c5ce38;
}

.nome-box-orange {
  background-color: #e3f2fd;
  padding: 50px 58px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
  background-color: #eec044;
}

.letra-box {
  font-size: 50px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-weight: bold;
}

.nome-box span {
  margin-top: 5px;
  font-weight: bold;
}

#livro {
  max-width: 20rem;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.livro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

#livro-area {
    width: 25rem;
}

#seta {
  max-width: 15px;
  height: auto;
}

.livro h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin: 0;
  font-family: roboto;
  font-weight: 900;
}

.livro p {
  margin-bottom: 10px;
  margin: 0;
}

.livro h1 {
  font-family: yellowtail;
  color: #eec044;
  font-size: 58;
}

.livro h2 {
  font-family: roboto;
  font-weight: 900;
  font-size: 70;
}

.livro p {
  font-family: mulish;
  font-size: 30;
  color: #1f1e17;
}

.livro a {
  text-decoration: none;
  color: #49a760;
  font-weight: bold;
  margin-top: 2rem;
  width: 4rem;
}

#text-area-3 > div {
  background-color: #ffff;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: right top;
}

#text-area-3 > div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

#text-area-3 > div > h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  font-family: manrope;
}

#text-area-3 > div > h2 {
  text-align: center;
  color: #eec044;
  font-family: yellowtail;
  font-size: 25px;
}

#text-area-3 > div > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#seta {
  max-width: 15px;
  height: auto;
}

.card-info-3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 20rem;
  align-items: center;
  box-shadow: -1px 9px 24px -10px rgba(0, 0, 0, 0.67);
}

.card-info-3 > div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.card-info-3 img {
  width: 20rem;
  background-color: #e9f1ee;
  border-radius: 0.2rem;
  justify-self: center;
}

.card-info-3 h1 {
  height: 10rem;
  margin-bottom: 4rem;
}

.btn-card {
  text-decoration: none;
  color: #49a760;
}

.footer-verde {
  font-family: manrope;
  background-color: #4baf47;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15rem;
  background-image: url("./farm-green.webp.png");
  background-repeat: no-repeat;
  background-size: 70rem;
  background-position: right bottom;
}

.footer-verde img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 10rem;
  margin-right: 1rem;
}

.footer-verde h1 {
  color: #eec044;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.footer-verde p {
  color: #fff;
  font-family: manrope;
  font-weight: 900;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
}

.footer {
  padding: 80px;
  font-family: manrope;
  background-color: #222;
  color: #fff;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .logo {
  flex: 1;
  min-width: 200px;
  padding-left: 150px;
}
.footer .logo img {
    width: 15rem;
}

.footer p {
  padding-left: 20px;
}

.footer .explore,
.footer .contact {
  flex: 1;
  min-width: 200px;
}
.footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer ul {
  padding: 0;
  color: #a5a49a;
}
.footer ul li {
  margin-bottom: 15px;
  color: #a5a49a;
}
.footer ul li a {
  color: #fff;
  text-decoration: none;
  color: #a5a49a;
}
.footer .contact p,
.footer .contact a {
  color: #fff;
  margin: 5px 0;
  text-decoration: none;
  color: #a5a49a;
}
.footer .social-icons {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  padding-left: 2rem;
}
.footer .social-icons img {
  width: 3rem;
  height:  3rem;
}
.footer-bottom {
  text-align: center;
  padding: 2rem 2rem;
  background-color: #111;
  color: #aaa;
  font-size: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-decoration: none;
  color: #fff;
}

.footer-bottom p {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

.footer-bottom a {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-decoration: none;
  color: #fff;
}

/* SOBRE PAGE */

/* NOSSO QUEIJO */

#area-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#sp-div-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sp-div-header h5 {
    color: #7EB693;
    font-family: "yellowtail", cursive;
    font-size: 2rem;
}

#sp-div-header h1 {
    font-size: 2rem;
}

/* QUEIJO INFO */

#sp-div-queijo {
    display: flex;
    flex-direction: row;
}

#sp-div-queijo > img{
    width: 40rem;
}

.sp-check-cards-container {
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    gap: 9rem;
}

.sp-check-card {
    display: flex;
    flex-direction: column;
}

.check-card-right {
    align-items: flex-end;
    text-align: right;
}

.check-card-left {
    align-items: flex-start;
    text-align: left;
}

.sp-check-card img{
    width: 2rem;
    height: 2rem;

}

/* QUEIJO QUALIDADE */

#area-quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}

#sp-quality-text-area {
    justify-content: center;
    align-items: center;
    width: 30rem;;
}

#sp-quality-text-area > h2{
    color: #EEC044;
    font-family: "Yellowtail", cursive;
 }

 #sp-quality-text-area > h1{
    font-size: 3rem;
 }

 #sp-quality-text-area > p{
    margin-top: 2rem
 }

 .question-card-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
 }

 .question-card > div{
    display: flex;
    flex-direction: row;
    background-color: #ECECEC;
    width: 30rem;
    height: 3rem;
    padding: auto;
    border-radius: 1rem;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem
 }

 .question-card > div > h1 {
    font-size: 1rem
 }

 .question-card > div > img{
    width: 1rem;
    height: 1rem;
    margin-left: 2rem;
 }

 #area-quality > img {
    width: 50rem;
 }

@media (max-width: 768px) {
  #mobile-nav-toggle[aria-expanded="true"] {
    background-color: #003f11;
  }

  .orange-button {
    height: 4rem;
  }

  #header-social-info {
    position: fixed;
    transform: translateX(-100%);
    transform: translateY(-100%);
    background-color: white;
    z-index: 1000;
    width: 100%;
  }

  #header-social-info[data-visible="true"] {
    transform: translateX(0%);
    transform: translateY(70%);
  }

  #header-social-info ul {
    flex-direction: column;
  }

  #secondary-header > ul {
    gap: 1rem;
  }

  #secondary-header > ul > li > a {
    font-size: 0.5rem;
  }

  #land-info-area {
    width: 22rem;
    padding: 2rem;
  }

  #landing-banner {
    background-position: -10rem, 12rem;
    background-size: 100rem 60rem;
  }

  .title-with-decoration > img {
    display: none;
  }

  #info-area-below {
    display: flex;
    width: 100%;
  }

  .info-card-2 {
    width: 7rem;
    padding: 0;
  }

  .info-card-2 img {
    width: 2rem;
    height: 2rem;
  }

  #text-area-1 > img {
    display: none;
  }

  #text-area-2 > div > div {
    flex-direction: column;
  }

  #product-cards-area {
    flex-direction: column;
  }

  #mobile-nav-toggle {
    display: flex;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
  }

  #parte-historia{
    flex-direction: column;
  }

  .nomes {
    gap: 3px;
  }

  .nome-box-green {
    padding: 0.5rem;
    aspect-ratio: 1;
  }

  .nome-box-yellow {
    padding: 0.5rem;
    aspect-ratio: 1;
  }

  .nome-box-orange {
    padding: 0.5rem;
    aspect-ratio: 1;
  }

  .historia {
    display: flex;
  }

  .historia img{
    display: none;
  }

  .livro{
    display: none;
  }

  #events-area {
    padding: 2rem;
  }

  .main-image {
    display: none;
  }

  .event-details {
    padding: 1rem;
  }

  .info-events-cards{
    width: 100%;
  }

  #text-area-3 > div > div {
    flex-direction: column;
  }

  .footer-verde {
    padding: 1rem;
  }

  .footer {
    padding: 2rem;

  }

  .footer .logo {
    padding-left: 0.2rem;

  }

  .footer .contact p{
    padding-left: 0px;
  }

  /* PÃGINA SOBRE */

  #sp-div-queijo > img {
    display: none;
  }

  #sp-div-queijo {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .sp-check-cards-container {
    flex-direction: column;
    width: auto;
  }

  #area-quality {
    padding: 5rem;
    flex-direction: column;
  }

  #sp-quality-text-area {
    width: 20rem;
    display: flex;
    flex-direction: column;
  }

  #sp-quality-text-area h1 {
    font-size: auto;
  }
  .question-card > div{
    width: auto;
  }

}
