@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

#header-lines {
    width: 100%;
    display: flex; 
    flex-direction: row; 
}

#header-lines div {
    flex-grow: 1; 
    height: 5px;
}

#line-1 {
    background-color: #4BAF47;
}

#line-2 {
    background-color: #C5CE38;
}

#line-3 {
    background-color: #EEC044;
}

#social-header {
    width: clamp(100%, 60%, 20%);
    height: 5rem;
    margin: auto auto;
    display: flex;
    align-items: center; 
    justify-content: center;
    align-items: center;
}

#social-header img {
    height: 3.5rem;
}

#social-media-area {
    display: flex;
    align-items: center;
    width: 100%; 
}
.social-media-rounded {
    width: 2rem;
    height: 2rem;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-decoration: none; 
    color: white; }

.social-media-rounded i {
    color: white;
}

.social-media-rounded:hover {
    background-color: #4BAF47; 
}

#social-media-area {
    display: flex;
    margin-left: 1rem;
    width: auto;
}

#social-media-area ul {
    list-style-type: none;
    gap: 1rem;
    display: flex;
}

#social-media-area li {
    display: inline; 
}

.hamburger-menu {
    display: none;
}

#header-social-info {
    display: flex;
}

#header-social-info ul {
    list-style-type: none;
    gap: 1rem;
    display: flex;
    width: auto;
}


#header-social-info li {
    display: inline;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info-card img {
    padding: 0.5rem;
}

.info-card div {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

}

.info-card div h3 {
    height: 0.2rem;
    color: #878680;
}

.info-card div h1 {
    height: 2rem;
    font-size: 1.2rem;
    color: #1F1E17;
}

#secondary-header {
    display: flex;
    justify-content: center;
    background-color: #f8f7f1;
    width: 100%;
    height: 4rem;
}

#secondary-header ul{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
    width: 60%;
}

#secondary-header li {
    display: inline;
}

#secondary-header li a{
    font-size: 0.75rem;
    color: #878680;
    text-decoration: none; 
}


#landing-banner {
    background-color: #ceb215;
    width: auto;
    height: 40rem;
    display: flex;
    justify-content: center;
    background-image: url("https://i.ibb.co/qnZK4Cg/image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#land-info-area {
    position: relative;
    width: 60rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 7rem;
    color: white;
}

#land-info-area h1{
    font-size: 5rem;

}

.title-with-decoration {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.orange-button {
    background-color: #F7C35F;
    color: white;
    height: 5rem;
    width: 8rem;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    transition: background-color 0.3s ease;
}

.orange-button:hover {
    background-color: #c5902e;;
}

.green-button {
    display: flex;
    background-color: #4BAF47;
    color: #ffffff;
    border-radius: 0.5rem;
    text-decoration: none;
    height: 4rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.green-button:hover {
    background-color: #286926;
}

#landing-banner img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 10rem;
    margin-right: 1rem;
}

#information-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-area-below {
    border-radius: 0.5rem;
    height: 6rem;
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    background-color: #ffffff;
    box-shadow: -1px 3px 0.5rem;
}

#info-area-below ul{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.info-card-2 {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 2;
}

.info-card-2 img {
    height: 3rem;
    width: 3rem;
}

.info-card-2 div {
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    align-self: center;
}

.info-card-2 div h3 {
    color: #1F1E17;
}

.info-card-2 div h1 {
    font-size: 1.2rem;
    color: #878680;
}

#text-area-1 {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

#text-area-1 h3 {
    grid-column: 1 / 2;
    grid-row: 1;
    color:#EEC044;
}

#text-area-1 h1 {
    grid-column: 1 / 2;
    grid-row: 2;
    font-size: 3rem;
}

#text-area-1 p {
    grid-column: 1 / 2;
    grid-row: auto;
    margin: 1rem 0;
}

#text-area-1 img {
    grid-column: 2 / 2;
    grid-row: 1 / span 4;
    width: 100%;
    height: 100%;
    height: auto;
    object-fit: cover;    
}

#text-area-1 .green-button {
    grid-column: 1 / 2;
    grid-row: auto;
}

#decoration-image-1 {
    width: 100%;
    margin-bottom: -1rem;
}


#text-area-2 > div {
    background-color: #e9f1ee;
    display: flex;
    padding: 2rem;
    justify-content: center; 
    align-items: center; 
    background-image: url("https://i.ibb.co/nCnT1jW/image.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: right top;
}

#text-area-2 > div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#text-area-2 > div > h1{
    text-align: center;
    font-size: 2rem;
}

#text-area-2 > div > h2{
    text-align: center;
    color: #49A760;
}

#text-area-2 > div > div{
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.card-info-2 {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 20rem; 
    align-items: center;
}

.card-info-2 img{
    width: 5rem;
    background-color: #e9f1ee;
    border-radius: 0.2rem;
    justify-self: center; 
}