@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Manrope', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#header-lines {
    width: 100%;
    display: flex; 
    flex-direction: row; 
}

#header-lines div {
    flex-grow: 1; 
    height: 5px;
}

#line-1 {
    background-color: #4BAF47;
}

#line-2 {
    background-color: #C5CE38;
}

#line-3 {
    background-color: #EEC044;
}

#social-header {
    width: 60%;
    height: 5rem;
    margin: auto auto;
    background-color: rgb(228, 31, 31);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

#social-header img {
    height: 3.5rem;
}

#social-media-area {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
}
.social-media-rounded {
    width: 2rem;
    height: 2rem;
    background-color: grey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    text-decoration: none; 
    color: white; 
}

.social-media-rounded i {
    color: white;
}

.social-media-rounded:hover {
    background-color: #4BAF47; 
}

#social-media-area {
    display: flex;
    margin-left: 1rem;
    width: auto;
}

#social-media-area ul {
    list-style-type: none;
    gap: 1rem;
    display: flex;
}

#social-media-area li {
    display: inline; 
}

#header-social-info {
    display: flex;
}

#header-social-info ul {
    list-style-type: none;
    gap: 1rem;
    display: flex;
    width: auto;
}


#header-social-info li {
    display: inline;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info-card img {
    padding: 0.5rem;
}

.info-card div {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;

}

.info-card div h3 {
    height: 0.2rem;
    color: #878680;
}

.info-card div h1 {
    height: 2rem;
    font-size: 1.2rem;
    color: #1F1E17;
}

#secondary-header {
    background-color: #f8f7f1;
    width: 100%;
    height: 4rem;
}